@font-face {
  font-family: "merienda";
  src: url(/ressources/fonts/Merienda-VariableFont_wght.ttf);
}

@font-face {
  font-family: "nunito";
  src: url(/ressources/fonts/Nunito-VariableFont_wght.ttf);
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
